In [10]:
%reload_ext autoreload
%autoreload 2

from copy import deepcopy
from datetime import datetime, timedelta
from file_exchange import config, network
from file_exchange.network import Network
from file_exchange.peers_view import PeersView
from file_exchange.user import User
from gevent.event import AsyncResult
from gevent.pool import Group
from gevent.select import select
import gevent
import json
import matplotlib as mpl
import matplotlib.pyplot as plt
import math
import multiprocessing
import numpy as np
import os
import pandas as pd
import pickle
import random
import re
import seaborn as sns
import shutil
import sys
import time
import traceback

def load_conf(path):
    f = open(path+'conf.json', 'r')
    conf = json.load(f)
    conf['period'] = datetime.strptime(conf['period'], "%H:%M:%S") - \
                      datetime.strptime("00:00", "%H:%M")
    return conf 

def fetch_dataframes(conf):
    devices_df = pd.DataFrame()
    users_df = pd.DataFrame()
    for fn in os.listdir(conf['output_dir']):
        if not fn.endswith(".csv"):
            continue
            
        filepath = conf['output_dir']+fn
        if re.search("device", fn):
            devices_df = append_to_df(filepath, devices_df)
        elif re.search("user", fn):
            users_df = append_to_df(filepath, users_df)

    devices_df['t'] -= min(devices_df['t'])
    devices_df = devices_df.sort_values('t')
    users_df['t'] -= min(users_df['t'])
    users_df = users_df.sort_values('t')
    return devices_df, users_df

def fetch_experiment_data(path):
    conf = load_conf(path)
    with open(conf['output_dir']+"files_info.bin", 'rb') as f:
        files_info = pickle.load(f)
    devices_df, users_df = fetch_dataframes(conf)  
    return conf, files_info, devices_df, users_df

def append_to_df(filepath, df):
    try:
        df2 = pd.read_csv(filepath)
    except:
        print("Failed loading {}: {}".format(fn, sys.exc_info()))
        pass
    else:
        if(df.empty):
            df = df2
        else:
            df = df.append(df2,)
    return df

# if experiment_set:
#     data_dir = 'data/'+experiment_set_name+''/'+conf['experiment_name']+'/'
# else:
#     data_dir = "data/"+conf['experiment_name']+'/'
# #data_dir="data/experiment_set/experiment_1/"
# conf, files_info, devices_df, users_df = fetch_experiment_data(data_dir)

In [12]:
def fetch_experiment_set(path):
    devices_df = pd.DataFrame()
    users_df = pd.DataFrame()
    conf = {}
    files_info = {}
    for experiment_name in os.listdir(path):
        conf_, files_info_, devices_df_, users_df_ = \
            fetch_experiment_data(path+experiment_name+"/")
        
        devices_df_['experiment_name'] = experiment_name
        users_df_['experiment_name'] = experiment_name
        devices_df = devices_df.append(devices_df_, ignore_index=True)
        users_df = users_df.append(users_df_, ignore_index=True)
        conf[experiment_name] = conf_
        files_info[experiment_name] = files_info_
    return conf, files_info, devices_df, users_df

conf, files_info, devices_df, users_df =  fetch_experiment_set("data/users_number/")

In [15]:
devices_df

,t,experiment_id,addr,owner,current_round,file_id,chunk_id,mess_id,type,sent,received,forwarded,success,messages_in_queue,experiment_name
0,0.000000,22,zo6gls3o4w66,Adaline,0,2zes3d,76,20289,1,612,0,0,True,0,experiment22_15users
1,0.007219,22,4gkk9i20kivj,Georgene,0,qz7lrk,14,29547,1,612,0,0,True,0,experiment22_15users
2,0.014309,22,581cyn0cux7r,Luke,0,gwsw0l,9,12996,1,612,0,0,True,0,experiment22_15users
3,0.021407,22,u2mgizf7vbnx,Luke,0,9j9mob,63,33595,1,612,0,0,True,0,experiment22_15users
4,0.028335,22,lmsqd8wpfldt,January,0,m7rdxz,55,33702,1,612,0,0,True,0,experiment22_15users
5,0.035070,22,ex8dbxkdn6gc,Delaine,0,fyrvhq,4,58719,1,612,0,0,True,0,experiment22_15users
6,0.041881,22,u4uh19q4yfyh,Maxwell,0,nzfe7z,48,4340,1,612,0,0,True,0,experiment22_15users
7,0.048827,22,knhif26buidt,Hassie,0,h7a035,23,30765,1,612,0,0,True,0,experiment22_15users
8,0.055794,22,jy15fze0a0c2,Queen,0,ceq564,74,58415,1,612,0,0,True,0,experiment22_15users
9,0.062740,22,zkmx8d8h3u7g,Queen,0,4bafv6,5,12110,1,612,0,0,True,0,experiment22_15users
10,0.072561,22,zo6gls3o4w66,Adaline,0,2zes3d,94,17332,1,612,0,0,True,0,experiment22_15users
11,0.080636,22,4gkk9i20kivj,Georgene,0,qz7lrk,17,40670,1,612,0,0,True,0,experiment22_15users
12,0.088436,22,581cyn0cux7r,Luke,0,gwsw0l,54,4496,1,612,0,0,True,0,experiment22_15users
13,0.096348,22,u2mgizf7vbnx,Luke,0,9j9mob,29,36874,1,612,0,0,True,0,experiment22_15users
14,0.104105,22,lmsqd8wpfldt,January,0,m7rdxz,63,45866,1,612,0,0,True,0,experiment22_15users
15,0.112124,22,ex8dbxkdn6gc,Delaine,0,fyrvhq,8,6527,1,612,0,0,True,0,experiment22_15users
16,0.119854,22,u4uh19q4yfyh,Maxwell,0,nzfe7z,49,62018,1,612,0,0,True,0,experiment22_15users
17,0.127672,22,knhif26buidt,Hassie,0,h7a035,0,27461,1,612,0,0,True,0,experiment22_15users
18,0.135555,22,jy15fze0a0c2,Queen,0,ceq564,78,61333,1,612,0,0,True,0,experiment22_15users
19,0.143196,22,zkmx8d8h3u7g,Queen,0,4bafv6,44,27165,1,612,0,0,True,0,experiment22_15users
20,0.151131,22,zo6gls3o4w66,Adaline,0,2zes3d,15,21950,1,612,0,0,True,0,experiment22_15users
21,0.158883,22,4gkk9i20kivj,Georgene,0,qz7lrk,95,909,1,612,0,0,True,0,experiment22_15users
22,0.166628,22,581cyn0cux7r,Luke,0,gwsw0l,30,26959,1,612,0,0,True,0,experiment22_15users
23,0.174364,22,u2mgizf7vbnx,Luke,0,9j9mob,81,14512,1,612,0,0,True,0,experiment22_15users
24,0.183982,22,lmsqd8wpfldt,January,0,m7rdxz,57,48165,1,612,0,0,True,0,experiment22_15users
25,0.192005,22,ex8dbxkdn6gc,Delaine,0,fyrvhq,27,60838,1,612,0,0,True,0,experiment22_15users
26,0.199997,22,u4uh19q4yfyh,Maxwell,0,nzfe7z,72,21818,1,612,0,0,True,0,experiment22_15users
27,0.209749,22,knhif26buidt,Hassie,0,h7a035,5,42338,1,612,0,0,True,0,experiment22_15users
28,0.217216,22,jy15fze0a0c2,Queen,0,ceq564,45,57336,1,612,0,0,True,0,experiment22_15users
29,0.224504,22,zkmx8d8h3u7g,Queen,0,4bafv6,77,14946,1,612,0,0,True,0,experiment22_15users
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2680423,174.894941,89,kwlgi834h8xi,January,15,h0bkm8,32,53905,2,100,0,0,True,5,experiment89_50users
2680424,174.900247,89,kwlgi834h8xi,January,15,h0bkm8,32,38772,1,0,612,0,True,4,experiment89_50users
2680425,174.905602,89,kwlgi834h8xi,January,15,h0bkm8,32,38772,2,100,0,0,True,4,experiment89_50users
2680426,174.911402,89,kwlgi834h8xi,January,15,h0bkm8,32,62575,1,0,612,0,True,3,experiment89_50users
2680427,174.916955,89,kwlgi834h8xi,January,15,h0bkm8,32,62575,2,100,0,0,True,3,experiment89_50users
2680428,174.922481,89,kwlgi834h8xi,January,15,h0bkm8,2,43566,1,0,612,0,True,2,experiment89_50users
2680429,174.928274,89,kwlgi834h8xi,January,15,h0bkm8,2,43566,2,100,0,0,True,2,experiment89_50users
2680430,174.933772,89,kwlgi834h8xi,January,15,h0bkm8,32,44589,1,0,612,0,True,1,experiment89_50users
2680431,174.939292,89,kwlgi834h8xi,January,15,h0bkm8,32,44589,2,100,0,0,True,1,experiment89_50users
2680432,174.944974,89,kwlgi834h8xi,January,15,h0bkm8,32,14659,1,0,612,0,True,0,experiment89_50users
2680433,174.950504,89,kwlgi834h8xi,January,15,h0bkm8,32,14659,2,100,0,0,True,0,experiment89_50users
2680434,174.956132,89,1s7uda2lz9l7,Shawnda,15,h0bkm8,32,61399,2,0,0,100,True,5,experiment89_50users
2680435,174.961821,89,1s7uda2lz9l7,Shawnda,15,h0bkm8,1,18970,2,0,0,100,True,4,experiment89_50users
2680436,174.967909,89,1s7uda2lz9l7,Shawnda,15,h0bkm8,32,46971,2,0,0,100,True,3,experiment89_50users
2680437,174.973355,89,1s7uda2lz9l7,Shawnda,15,6uzqh2,82,12512,1,0,0,612,True,2,experiment89_50users
2680438,174.979047,89,1s7uda2lz9l7,Shawnda,15,6uzqh2,94,4840,1,0,0,612,True,1,experiment89_50users
2680439,174.984695,89,1s7uda2lz9l7,Shawnda,15,6uzqh2,82,46042,1,0,0,612,True,0,experiment89_50users
2680440,175.178548,89,jkodp52hq9ti,Betty,15,6uzqh2,80,53871,2,0,0,100,True,0,experiment89_50users
2680441,175.215716,89,pv0zisjng2gc,Renna,15,h0bkm8,1,9728,2,0,0,100,True,0,experiment89_50users
2680442,175.373496,89,sn1yhmqmig7r,Renna,15,6uzqh2,82,42753,1,0,0,612,True,1,experiment89_50users
2680443,175.381838,89,sn1yhmqmig7r,Renna,15,6uzqh2,76,29472,1,0,0,612,True,0,experiment89_50users
2680444,175.390101,89,jkodp52hq9ti,Betty,15,6uzqh2,76,22060,1,0,0,612,True,2,experiment89_50users
2680445,175.397342,89,jkodp52hq9ti,Betty,15,6uzqh2,80,27987,1,0,0,612,True,1,experiment89_50users
2680446,175.404671,89,jkodp52hq9ti,Betty,15,6uzqh2,94,24335,1,0,0,612,True,0,experiment89_50users
2680447,175.701792,89,6sh11fxamlcv,Betty,15,iw9b4t,59,47855,1,0,612,0,True,1,experiment89_50users
2680448,175.709465,89,6sh11fxamlcv,Betty,15,iw9b4t,59,47855,2,100,0,0,True,1,experiment89_50users
2680449,175.716560,89,6sh11fxamlcv,Betty,15,iw9b4t,28,20592,1,0,612,0,True,0,experiment89_50users
2680450,175.723885,89,6sh11fxamlcv,Betty,15,iw9b4t,28,20592,2,100,0,0,True,0,experiment89_50users
2680451,175.730975,89,jkodp52hq9ti,Betty,15,iw9b4t,52,54100,1,0,612,0,True,0,experiment89_50users
2680452,175.738147,89,jkodp52hq9ti,Betty,15,iw9b4t,52,54100,2,100,0,0,True,0,experiment89_50users

## RTT

In [14]:
messages_id = np.unique(devices_df['mess_id'])
transfer_times = pd.DataFrame()
#transfer_times = np.zeros(len(messages_id), dtype=np.float64)

for i, m_id in enumerate(messages_id):
    times = [None] * 2
    for typ in [1, 2]:
        data = devices_df[(devices_df['mess_id'] == m_id) &
                          (devices_df['type'] == typ)]['t']
        
        if len(data) != 0:
            times[typ - 1] = max(data) - min(data)
            transfer_times = transfer_times.append(pd.Series({
                't': times[typ - 1], 
                'type': typ}), ignore_index=True)
            
    if times[0] is not None and times[1] is not None:
        transfer_times = transfer_times.append(pd.Series({
                't': sum(times), 
                'type': 3}), ignore_index=True)


def to_cdf(data):
    data_size = len(data)
    data_set=sorted(set(data))
    bins=np.append(data_set, data_set[-1]+1)
    counts, bin_edges = np.histogram(data, bins=bins, density=False)

    counts=counts.astype(float)/data_size

    # Find the cdf
    cdf = np.cumsum(counts)
    
    return cdf, bins

KeyboardInterrupt:

In [ ]:
PLOT_DIR = "outputs/users_number/"
os.makedirs(PLOT_DIR)

In [ ]:
f, ax = plt.subplots()

# Plot the cdf
cdf, bins = to_cdf(transfer_times[transfer_times['type'] == 1]['t'])
ax.plot(bins[0:-1], cdf, label="Chunks")
cdf, bins = to_cdf(transfer_times[transfer_times['type'] == 2]['t'])
ax.plot(bins[0:-1], cdf, label="Acks")
cdf, bins = to_cdf(transfer_times[transfer_times['type'] == 3]['t'])
ax.plot(bins[0:-1], cdf, label="RTT")

ax.set_xlabel('Time (s)')
ax.set_xlim(0,)
ax.set_ylabel('CDF (%)')
ax.yaxis.set_major_formatter(mpl.ticker.FuncFormatter(lambda y, _: '{:.0%}'.format(y))) 
ax.set_ylim(0,)
ax.legend()
plt.suptitle('Cumulative distribution function of messages transmission time')


sns.despine()
plt.savefig('outputs/users_number/messages_rtt_cdf.svg')
plt.show()