In [1]:
from file_exchange import model
import numpy as np
import pandas as pd

In [3]:
N_USERS = 1
OBSERVATIONS_LENGTH = 100
PREDICTIONS_LENGTH = 10

In [ ]:
users = [None] * N_USERS
for i in range(N_USERS):
    m = [model.get_random() for _ in range N_USERS]
    _, observations  = m.sample(length=OBSERVATIONS_LENGTH)
    infered_m = model.get_default(m.observations).fit(observations)
    
#     predictions = np.empty((m.n_obs, PREDICTIONS_LENGTH, m.n_states), dtype=np.float64)
#     infered_predictions = \
#         np.empty((m.n_obs, PREDICTIONS_LENGTH, m.n_states), dtype=np.float64)
    predictions = pd.DataFrame()
    infered_predictions = pd.DataFrame()
    for obs_id in range(m.n_obs):
        predictions[obs_id, :, :] = m.predict(PREDICTIONS_LENGTH, obs_id)
        infered_predictions[obs_id, :, :] = \
            infered_m.predict(PREDICTIONS_LENGTH, obs_id)

In [14]:
a = np.array([[[1, 2], [3, 4], [5, 6]], [[1, 2], [3, 4], [5, 6]]])
a

array([[[1, 2],
        [3, 4],
        [5, 6]],

       [[1, 2],
        [3, 4],
        [5, 6]]])

In [11]:
for t, v in enumerate(a[:,1]):
    print(t, v)

0 2
1 4
2 6

In [7]:
df = pd.DataFrame(columns=['v', 't'])
for i in range(a.shape[1]):
    df = df.concat([
        pd.DataFrame([v, t], columns=['v', 't']) for t, v in enumerate(a[:,i])
    ], ignore_index=True)
    
df

AttributeError: 'DataFrame' object has no attribute 'concat'

In [16]:
df = pd.concat([
        pd.DataFrame([[v, t, s]], columns=['v', 't', 's']) 
    for s in range(a.shape[0])
    for i in range(a.shape[2])
    for t, v in enumerate(a[s, :,i])
    ], ignore_index=True)
df

    v  t  s
0   1  0  0
1   3  1  0
2   5  2  0
3   2  0  0
4   4  1  0
5   6  2  0
6   1  0  1
7   3  1  1
8   5  2  1
9   2  0  1
10  4  1  1
11  6  2  1